<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="formBook">

        <div class="row">
            <div class="col-6">
              <mat-form-field appearance="standard"  formControlName="title">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Insert title">
                <mat-hint>Something like "Jaws 4"</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="standard"  formControlName="isbn">
                <mat-label>ISBN</mat-label>
                <input matInput placeholder="Insert ISBN">
                <mat-hint>Something like "01221921"</mat-hint>
              </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
              <mat-form-field appearance="standard"  formControlName="description">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Insert description">
                <mat-hint>Something like "This is the biggest shark"</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="standard"  formControlName="author">
                <mat-label>Author</mat-label>
                <mat-select>
                  <mat-option *ngFor="let author of authors" [value]="author.node.id">
                    {{author.node.name}}
                  </mat-option>
                </mat-select>
                <mat-hint>Something like "John Wick"</mat-hint>
              </mat-form-field>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button mat-raised-button color="primary" (click)="submit()">Create</button>
    <button mat-raised-button color="primary" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>
